/* Banks.module.css */


.bank-list {
    display: grid;
    grid-template-rows: auto(1fr);
    gap:5px;
    justify-content: space-around;
    font-size: 23px;

}

.bank-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.banks-container {
    display: flex;
    flex-direction: column;
    width:800px;
    justify-self: center;
    align-items: center;
}

.bank-list-with-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 150px
}

.delete-button-container {
    display: grid;
    justify-content: center;
    align-items: center;
}

#delete-button{
    height:17px;
    border-radius: 3px;
    aspect-ratio: 1 / 1;
}