/* Nav.module.css */


.form-input-label, .form-dropdown-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 17px;
    background: var(--primary-color);
    height: 30px;
    width: 100%;
    
}

.form-input {
    outline: 1px;
    outline-color: rgba(29, 28, 28, 0.582);
    padding-left:10px;
    width: 70%;
    font-size: 15px;
}


.form-tag {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    width: min-content;
    width: 30%;
    color: white;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.form-container {
    display: flex;
    flex-direction: column; 
    margin-bottom: 100px;
    background:  var(--terciary-color);
    padding: 2vw;
    margin-top: 5px;
    border: 1px solid rgb(0, 0, 0);
    width: 40vw;
    height: auto;
}

.form-drop-down {
    width: 600px
}

#create-form-container {
    max-width: 400px;
    padding: 20px;
    justify-self: self-end;
}

#banks-form-container{
    display: flex;
    flex-direction: row; 
    width: 100%;
    padding-bottom: 50px
}

#banks-form-input {
    width: 30%;
    margin-right: 10px;
}
#banks-form-tag {
    padding-left: 5px;
    width: 100%
}
#banks-form-label{
    width: 20%
}

#submit-button, #cancel-button {
    padding: 20px;
    align-content: center;
    border: none;
    font-size: 17px
}

#bill-amount{
    width: 55%;
}

#bill-date {
    width:60%
}

#amount-label {
    width: 50%
}

#date-label {
    width: 70%
}

#amount-tag {
    padding-left: 5px;
}

#date-tag{
    padding-left: 5px
}

#selected-bank {
    width: 80%;
}

#bank-label {
    width: 50%
}

#bank-tag {
    width: 30%
}

select:focus {
    outline: none;
}
