/* Nav.module.css */

a {
    text-decoration: none;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%
}

.nav-button {
	background-color:var(--primary-color);
	display:inline-block;
	cursor:pointer;
    padding: 0px 20px;
	color:#ffffff;
    height: 100%;
	text-decoration:none;
    align-content:center;
    font-family:Arial; 
    font-size:20px; 
    font-weight:bold;
}


.nav-button:hover {
	box-shadow: inset 0px -4px 27px -4px rgba(0,0,0,0.37);
}
.nav-button:active {
    box-shadow: inset 0px -4px 40px 2px rgba(0, 0, 0, 0.438);
}

#logout-button {
    height: 100%;
    padding: 0px 20px;
    font-family:Arial; 
    font-size:20px; 
    font-weight:bold;
}

.form-container {    
    display: flex;
    border-color: rgba(0, 0, 0, 0.308);
    box-shadow: 1px 2px 6px 4px rgba(0, 0, 0, 0.13);
    height: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 90%;
    margin-right: 10px;
    overflow: hide;
}

.input-formatter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2px;

}

.login-field {
    backface-visibility: hidden;
    border:none;
    padding-left: 5px;
    font-size: 17px;
}

.login-field:focus {
    outline: none;
}

.tag {
    height:20px;
}

.login-button {
    border: none;
    margin-left: 10px;
    background-color: var(--secondary-color);
    color: white;
    padding: 0 5px;
    font-size: 18px;
}

.login-container {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 80%;
}

.logout-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%
}

.header-container {
    display: flex;
    width: 100%;
	background-color:var(--primary-color);
    height: 60px;
    align-items: center;
    justify-content: center;
}

.header-image {
    height: 60%;
    width: auto;
    margin: 0 8px
}

.login-flex {
    display:flex;
}