
html, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw
    }

body {
    background: var(--terciary-color);
}

button {
    margin: 0;
    padding: 0;
}

button:hover {
    box-shadow: inset 0px -4px 27px -4px rgba(0,0,0,0.37);
}

button:active {
    box-shadow: inset 0px -4px 40px 2px rgba(0, 0, 0, 0.438);
}